@font-face {
    font-family: 'Battambang';
    src: url('Battambang-Regular.eot');
    src: url('Battambang-Regular.eot?#iefix') format('embedded-opentype'),
        url('Battambang-Regular.woff2') format('woff2'),
        url('Battambang-Regular.woff') format('woff'),
        url('Battambang-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: system-ui, -apple-system, 'Battambang', "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



